@media only screen and (max-width: 1140px) {
  .header .nav .nav__item .nav__item--words[data-v-295ba637] {
    color: #787878;
    font-size: 12px;
    margin: 30px 0 17px;
    line-height: 20px;
  }
  .header .nav .nav__item[data-v-295ba637] {
    margin-right: 7px;
  }

  .vision .vision__right .vision__right--send[data-v-a4def1cc] {
    right: 120px;
  }
  .mission .mission__left .mission__left--send[data-v-e2472402] {
    left: -210px;
  }

  .technology-rd .content .content__box[data-v-4ead8b5d] {
    width: 58.5625vw;
    height: 856px;
    margin-top: 72px;
  }

  .technology-rd .content .content__box .list[data-v-4ead8b5d] {
    margin-left: 10.417vw;
    display: flex;
    margin-top: 20px;
  }

  .technology-rd .content[data-v-4ead8b5d] {
    width: 77.292vw;
    height: 856px;
    background: #fcdd46;
    position: absolute;
    top: -100px;
    right: 0;
  }

  .technology-rd .pic[data-v-4ead8b5d] {
    width: 40.479vw;
  }
}

@media only screen and (max-width: 980px) {
  .hero .direction__title[data-v-e1020f88] {
    font-size: 35px;
    padding-top: 60px;
    padding-bottom: 80px;
    line-height: 40px;
  }

  .hamburger {
    display: block;
  }
  .header .nav[data-v-295ba637] {
    display: none;
  }

  /* Section heading */
  .c-header[data-v-6dde7ff8] {
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 8px solid #deba2b;
    border-top: 8px solid #deba2b;
    background: #deba2b;
    overflow: hidden;
  }

  .c-header .c-header-left[data-v-6dde7ff8] {
    width: 100vw;
    height: 400px;
    position: relative;
    background: #fcdd46;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    color: #252525;
    font-size: 48px;
    letter-spacing: 2px;
    padding: 30px 0;
  }

  .c-header .c-header-left .common[data-v-6dde7ff8] {
    max-width: 100%;
    overflow: hidden;
  }

  .c-header .c-header-left .left-line[data-v-6dde7ff8] {
    display: none;
  }

  .c-header .c-header-right img[data-v-6dde7ff8] {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: inline-block;
    border: none;
  }

  .c-header .c-header-right[data-v-6dde7ff8] {
    width: 100vw;
    height: 400px;
  }

  .hero .c-header[data-v-6dde7ff8] {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 8px solid #deba2b;
    border-top: 8px solid #deba2b;
    background: #deba2b;
    overflow: hidden;
  }

  .hero .c-header .c-header-left[data-v-6dde7ff8] {
    padding: 0;
  }
  .hero .w-content {
    text-align: center;
    font-size: 60px;
  }

  .hero-br-desktop {
    display: none;
  }

  .hero .c-header .c-header-right[data-v-6dde7ff8] {
    width: 100vw;
    height: 200px;
    position: relative;
    background: #fcdd46;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    color: #252525;
    font-size: 48px;
    letter-spacing: 2px;
  }

  .hero .c-header .c-header-right .common[data-v-6dde7ff8] {
    max-width: 100vw;
    overflow: hidden;
  }

  .hero .c-header .c-header-left .left-line[data-v-6dde7ff8] {
    display: none;
  }

  .hero .c-header .c-header-left img[data-v-6dde7ff8] {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: inline-block;
    border: none;
  }

  .hero .c-header .c-header-left[data-v-6dde7ff8] {
    width: 100vw;
    height: 400px;
  }

  .marg-top br {
    display: none;
  }

  .hero .direction__title[data-v-e1020f88] {
    font-weight: 600;
    font-size: 42px;
    text-align: center;
    line-height: 55px;
    letter-spacing: 1px;
  }

  .neumaticos_grid {
    gap: 10px;
    margin-bottom: 100px;
  }

  .neumatico {
    position: relative;
    width: calc(50% - 10px);
    margin: 5px;
  }

  .box .box__item[data-v-e0cc6e80] {
    flex: 0 0 calc(50% - 1px);
    border-right: none !important;
    border-bottom: none !important;
  }

  .our
    .our__box
    .proactive
    .proactive__main
    .proactive-content
    .content-desc[data-v-e3b77840] {
    color: #000;
    letter-spacing: 0.4px;
    font-size: 14px;
    width: 354px;
    line-height: 22px;
  }

  .vision .vision__right .vision__right--send .send-desc[data-v-a4def1cc] {
    font-size: 14px;
    line-height: 20px;
    margin: 32px 0 0 217px;
    letter-spacing: 0.6px;
    width: 300px;
  }

  .mission .mission__left .mission__left--send .send-desc[data-v-e2472402] {
    font-size: 14px;
    width: 300px;
    margin: 27px 0 0 272px;
    line-height: 20px;
    letter-spacing: 0.6px;
  }

  .vision .vision__right .vision__right--send[data-v-a4def1cc] {
    right: 140px;
  }
  .mission .mission__left .mission__left--send[data-v-e2472402] {
    left: -230px;
  }

  .technology-rd .content .content__box[data-v-4ead8b5d] {
    width: 100vw;
    height: auto;
  }

  .technology-rd .content .content__box .list[data-v-4ead8b5d] {
    margin-left: 10.417vw;
    display: flex;
    margin-top: 20px;
  }

  .technology-rd .content .content__box[data-v-4ead8b5d] {
    width: 100vw;
    height: auto;
    margin-top: 45px;
  }

  .technology-rd[data-v-4ead8b5d] {
    height: auto;
  }

  .technology-rd .content[data-v-4ead8b5d] {
    width: 100vw;
    height: auto;
    background: #fcdd46;
    position: relative;
    top: 0;
    right: 0;
    padding: 30px 20px;
  }

  .technology-rd .pic[data-v-4ead8b5d] {
    display: none;
  }

  .technology-rd
    .content
    .content__box
    .content__title--words[data-v-4ead8b5d] {
    margin-left: 0;
    text-align: center;
  }

  .contacto {
    background: #f8f8f8;
    padding-bottom: 60px;
  }

  .content[data-v-61284892] {
    width: 80vw;
    height: 886px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f8f8f8;
    margin: 0 auto;
  }

  .content .send[data-v-61284892] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .content .send__left[data-v-61284892] {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .content .send__right[data-v-61284892] {
    width: 100%;
    height: auto;
    display: flex;
  }

  .content .prove[data-v-61284892] {
    width: 100%;
  }

  .content .send__right .choose[data-v-61284892] {
    width: 100%;
  }

  .content .send__right--input[data-v-61284892] {
    width: 100%;
  }

  .content .send__right .send__right--detail[data-v-61284892] {
    width: 100%;
  }
  .content .send__right .desc[data-v-61284892] {
    width: 100%;
  }

  .submit[data-v-61284892] {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .w-content {
    font-size: 40px;
    line-height: 40px;
    margin: 30px 0;
    padding: 0 20px;
    text-align: center;
  }

  .w-content br {
    display: none;
  }

  .aim .aim__title[data-v-66513696] {
    font-weight: 600;
    color: #252525;
    font-size: 44px;
    margin: 120px auto 33.5px;
    line-height: 50px;
    letter-spacing: 2px;
    text-align: center;
  }

  .pioneros {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0;
  }
  .pionero {
    width: 60%;
  }
  .pionero li {
    margin: 30px 30px;
  }
  .pionero ul {
    margin-top: -5px;
    padding: 0;
  }
  .pionero li:last-child {
    margin-top: 0;
  }
}

@media only screen and (max-width: 700px) {
  .hero .w-content {
    font-size: 40px;
    line-height: 50px;
  }

  .mision-vision-mobile {
    display: block;
  }
  .mision-vision-desktop {
    display: none;
  }

  .mision,
  .vision {
    padding: 0 0 10px 0;
  }

  .vision .send-title,
  .mision .send-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 30px;
    padding: 0 20px;
  }

  .vision .send-desc,
  .mision .send-desc {
    max-width: 812px;
    font-size: 16px;
    color: #000;
    margin: 27px auto 54px;
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 22px;
    padding: 0 30px;
  }

  .footer_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .redes {
    flex-direction: column;
    margin-top: 30px;
  }

  .footer_container > img {
    margin-top: 8px;
  }
  .right_footer p {
    display: none;
  }
}

@media only screen and (max-width: 520px) {
  body {
    overflow-x: hidden;
  }
  .header .nav[data-v-295ba637] {
    display: none;
  }

  .header .logo[data-v-295ba637] {
    width: 147px;
    height: 27px;
    margin-top: 29px;
    margin-left: 20px;
  }

  .hero .c-header .c-header-right[data-v-6dde7ff8] {
    height: 150px;
  }

  .hero .direction__title[data-v-e1020f88] {
    font-size: 30px;
    letter-spacing: normal;
    line-height: 40px;
  }

  .neumaticos_grid {
    gap: 10px;
    margin-bottom: 100px;
  }

  .neumatico {
    position: relative;
    width: calc(100% - 10px);
    margin: 5px;
  }

  .neumatico a {
    font-size: 17px;
  }

  .certificacion {
    position: relative;
    width: calc(100% - 20px);
    max-width: 400px;
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
  }

  .box .box__item[data-v-e0cc6e80] {
    border-bottom: 1px solid #e5e5e5;
  }
  /* Only the very last item should have no bottom border */

  .radial .industry__top[data-v-80b4d60e] {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 5px 15px #00000014;
    margin: 0 0px 30px;
    padding-bottom: 23px;
  }
  .radial .industry__top .top-left[data-v-80b4d60e] {
    width: 100%;
    height: auto;
  }

  .radial .industry__top .top-right .right-title[data-v-80b4d60e] {
    font-weight: 600;
    color: #252525;
    font-size: 24px;
    line-height: 28px;
    margin-left: 25px;
    letter-spacing: 0.4px;
    /* height: 97px; */
    line-height: 28px;
    font-size: 23px;
    margin-top: 10px;
  }

  .pt28 {
    padding-top: 28px !important;
  }

  .radial .industry__top .top-right .right-line[data-v-80b4d60e] {
    width: 80%;
    height: 3px;
    background-color: #fcdd46;
    margin-left: 10%;
  }

  .radial .industry__top .top-right .right-desc[data-v-80b4d60e] {
    width: 90%;
    height: auto;
    margin: 28px 0 0 25px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
  }
  .way .way__box .box-item[data-v-227f0ace] {
    border: none;
  }

  .box .item[data-v-3c034ea9] {
    height: 525px;
  }

  .our .our__title[data-v-e3b77840] {
    font-weight: 600;
    color: #252525;
    font-size: 42px;
    line-height: 50px;
    margin: 48px 0 44px;
    letter-spacing: 1px;
    text-align: center;
  }

  .box .item .item__list .item__list--explain .explain-words[data-v-3c034ea9] {
    max-width: 299px;
  }

  .box .box__item[data-v-e0cc6e80] {
    padding-top: 0px;
  }

  .brand .industry .industry__title[data-v-55570710] {
    font-weight: 600;
    color: #252525;
    font-size: 42px;
    line-height: 50px;
    margin: 0 30px;
    letter-spacing: 1px;
    text-align: center;
  }

  .way .way__header[data-v-227f0ace] {
    font-weight: 600;
    color: #252525;
    font-size: 42px;
    line-height: 50px;
    margin: 0 30px;
    letter-spacing: 1px;
    text-align: center;
  }

  .ambiental .brand .desc .desc_text[data-v-55570710] {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }
  .ambiental .brand .desc .desc_text p[data-v-55570710] {
    width: 100%;
  }

  .ambiental .brand .desc .desc_text[data-v-55570710] {
    margin: 30px auto 20px;
  }

  .pionero {
    width: 100%;
  }

  .our .our__box .proactive[data-v-e3b77840] {
    width: 90%;
    height: auto;
  }
  .our .our__box .proactive .proactive__main .proactive-pic[data-v-e3b77840] {
    width: 100%;
  }

  .our .our__box .proactive .proactive__main[data-v-e3b77840] {
    width: 100%;
  }

  .our
    .our__box
    .proactive
    .proactive__main
    .proactive-content
    .content-title[data-v-e3b77840] {
    margin: 15px 0 0 30px;
    line-height: 24px;
  }

  .our
    .our__box
    .proactive
    .proactive__main
    .proactive-content
    .content-desc[data-v-e3b77840] {
    width: 80%;
    font-size: 15px;
    line-height: 18px;
  }

  .our
    .our__box
    .proactive
    .proactive__main
    .proactive-content
    .content-line[data-v-e3b77840] {
    width: 100%;
  }
  .our .our__box .proactive .proactive__pic[data-v-e3b77840] {
    width: 100%;
    height: auto;
  }

  .proactive {
    overflow: hidden;
  }

  .our
    .our__box
    .proactive
    .proactive__main
    .proactive-content[data-v-e3b77840] {
    width: 100%;
  }

  .survey__content .box[data-v-57f19076] {
    width: 100%;
    padding: 0 30px;
    margin: 0 20px;
  }

  .survey__content .box .box__num[data-v-57f19076] {
    width: 100%;
  }

  .survey__content .box .box__desc[data-v-57f19076] {
    width: 100%;
  }

  .title-padding {
    padding: 0 20px;
    font-size: 37px !important;
  }

  .red a{
    font-size: 12px;
  }
}
